In [33]:
from bokeh.plotting import figure, show, output_file
import pandas as pd
from bokeh.models import HoverTool, ColumnDataSource

df = pd.read_csv("Sample_of_the_produced_time_values.csv", parse_dates = [1, 2])
df["Start_string"] = df["Start"].dt.strftime("%Y-%m-%d %H:%M:%S")
df["End_string"] = df["End"].dt.strftime("%Y-%m-%d %H:%M:%S")

cds = ColumnDataSource(df)

p = figure(x_axis_type = 'datetime', height = 100, width = 500, sizing_mode = 'scale_width', title = "Motion Graph")
p.yaxis.minor_tick_line_color = None
p.ygrid[0].ticker.desired_num_ticks = 1

hover = HoverTool(tooltips = [("Start", "@Start_string"), ("End", "@End_string")])
p.add_tools(hover)

p.quad(left = "Start", right = "End", bottom = 0, top = 1, color = "green", source=cds)

output_file("Graph.html")

show(p)

In [31]:
df

,Unnamed: 0,Start,End,Start_string,End_string
0,0,2016-06-02 15:00:37.707112,2016-06-02 15:00:38.048132,2016-06-02 15:00:37,2016-06-02 15:00:38
1,1,2016-06-02 15:00:38.564161,2016-06-02 15:00:38.702169,2016-06-02 15:00:38,2016-06-02 15:00:38
2,2,2016-06-02 15:00:38.905181,2016-06-02 15:00:39.091191,2016-06-02 15:00:38,2016-06-02 15:00:39
3,3,2016-06-02 15:00:50.977871,2016-06-02 15:00:58.692312,2016-06-02 15:00:50,2016-06-02 15:00:58
4,4,2016-06-02 15:00:59.105336,2016-06-02 15:00:59.409353,2016-06-02 15:00:59,2016-06-02 15:00:59
5,5,2016-06-02 15:00:59.459356,2016-06-02 15:01:07.554819,2016-06-02 15:00:59,2016-06-02 15:01:07
6,6,2016-06-02 15:01:10.750002,2016-06-02 15:01:10.825006,2016-06-02 15:01:10,2016-06-02 15:01:10
7,7,2016-06-02 15:01:10.865009,2016-06-02 15:01:11.114023,2016-06-02 15:01:10,2016-06-02 15:01:11
8,8,2016-06-02 15:01:11.280032,2016-06-02 15:01:11.328035,2016-06-02 15:01:11,2016-06-02 15:01:11
9,9,2016-06-02 15:01:12.337093,2016-06-02 15:01:12.671112,2016-06-02 15:01:12,2016-06-02 15:01:12
10,10,2016-06-02 15:01:13.140139,2016-06-02 15:01:14.253202,2016-06-02 15:01:13,2016-06-02 15:01:14
11,11,2016-06-02 15:01:15.698285,2016-06-02 15:01:25.146826,2016-06-02 15:01:15,2016-06-02 15:01:25
12,12,2016-06-02 15:01:25.391840,2016-06-02 15:01:25.432842,2016-06-02 15:01:25,2016-06-02 15:01:25
13,13,2016-06-02 15:01:25.486845,2016-06-02 15:01:31.967216,2016-06-02 15:01:25,2016-06-02 15:01:31
14,14,2016-06-02 15:01:32.064221,2016-06-02 15:01:32.190228,2016-06-02 15:01:32,2016-06-02 15:01:32